In [6]:
import pandas as pd

In [8]:
# permitindo que todas as colunas sejam lidas
pd.options.display.max_columns = None

In [11]:
data = pd.read_csv('/content/ANIMBR22.csv', encoding='latin1')
data

<ipython-input-11-b0d1af75defb>:1: DtypeWarning: Columns (10,22) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('/content/ANIMBR22.csv', encoding='latin1')

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,DT_SIN_PRI,SEM_PRI,ANO_NASC,NU_IDADE_N,CS_SEXO,CS_GESTANT,CS_RACA,CS_ESCOL_N,SG_UF,ID_MN_RESI,ID_RG_RESI,ID_PAIS,DT_INVEST,ID_OCUPA_N,ANT_DT_ACI,ANT_UF,ANT_MUNIC_,ANT_LOCALI,ANT_TEMPO_,ANT_LOCA_1,MCLI_LOCAL,CLI_DOR,CLI_EDEMA,CLI_EQUIMO,CLI_NECROS,CLI_LOCAL_,CLI_LOCA_1,MCLI_SIST,CLI_NEURO,CLI_HEMORR,CLI_VAGAIS,CLI_MIOLIT,CLI_RENAL,CLI_OUTR_2,CLI_OUTR_3,CLI_TEMPO_,TP_ACIDENT,ANI_TIPO_1,ANI_SERPEN,ANI_ARANHA,ANI_LAGART,TRA_CLASSI,CON_SOROTE,NU_AMPOLAS,NU_AMPOL_1,NU_AMPOL_8,NU_AMPOL_6,NU_AMPOL_4,NU_AMPO_7,NU_AMPO_5,NU_AMPOL_9,NU_AMPOL_3,COM_LOC,COM_SECUND,COM_NECROS,COM_COMPOR,COM_DEFICT,COM_APUTAC,COM_SISTEM,COM_RENAL,COM_EDEMA,COM_SEPTIC,COM_CHOQUE,DOENCA_TRA,EVOLUCAO,DT_OBITO,DT_ENCERRA,DT_DIGITA
0,2,X29,20220101,202152,2022,51,510340,1578.0,20211231,202152,1990.0,4031,F,5.0,4.0,9.0,51.0,510340.0,1578.0,1.0,20220101,999992,20211231,51.0,510300.0,NaN,2.0,9.0,1.0,1.0,1.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,1.0,NaN,1.0,NaN,NaN,1.0,1.0,3,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20220110,20230316
1,2,X29,20220101,202152,2022,29,293050,1381.0,20220101,202152,1999.0,4022,F,5.0,1.0,8.0,29.0,293050.0,1381.0,1.0,20220101,223610,20220101,29.0,293050.0,NaN,1.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,2.0,NaN,NaN,9.0,NaN,1.0,2.0,0,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20220101,20220513
2,2,X29,20220101,202152,2022,51,510337,1582.0,20220101,202152,1988.0,4033,F,6.0,2.0,9.0,51.0,510337.0,1582.0,1.0,20220101,612005,20220101,51.0,510337.0,NaN,2.0,9.0,1.0,1.0,1.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,1.0,NaN,1.0,NaN,NaN,1.0,1.0,2,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20220103,20220524
3,2,X29,20220101,202152,2022,51,510340,1578.0,20220101,202152,1955.0,4066,F,6.0,2.0,9.0,51.0,510340.0,1578.0,1.0,20220101,NaN,20220101,51.0,510340.0,NaN,2.0,10.0,1.0,1.0,2.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,1.0,2.0,0,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20220101,20230310
4,2,X29,20220101,202152,2022,51,510340,1578.0,20211231,202152,1975.0,4046,F,5.0,4.0,6.0,51.0,510340.0,1578.0,1.0,20220101,NaN,20211231,51.0,510340.0,NaN,2.0,9.0,1.0,1.0,2.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,1.0,2.0,0,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20220101,20230310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284766,2,X29,20221231,202252,2022,27,270930,1543.0,20221231,202252,1948.0,4074,M,6.0,4.0,3.0,27.0,270930.0,1543.0,1.0,20221231,NaN,20221231,27.0,270930.0,NaN,4.0,4.0,1.0,1.0,2.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,1.0,2.0,0,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20221231,20230103
284767,2,X29,20221231,202252,2022,25,250750,1377.0,20221230,202252,1991.0,4031,M,6.0,9.0,9.0,25.0,251600.0,1377.0,1.0,20221231,NaN,20221230,25.0,251600.0,NaN,5.0,4.0,1.0,1.0,2.0,2.0,2.0,1.0,PARESTESIA,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,3.0,2.0,0,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20221231,20221231
284768,2,X29,20221231,202252,2022,25,250750,1377.0,20221231,202252,1980.0,4042,F,5.0,4.0,6.0,25.0,251370.0,1377.0,1.0,20221231,NaN,20221231,25.0,251370.0,NaN,9.0,10.0,1.0,1.0,2.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,1.0,2.0,0,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20221231,20221231
284769,2,X29,20221231,202252,2022,25,250750,1377.0,20221231,202252,1978.0,4044,F,5.0,4.0,6.0,25.0,250750.0,1377.0,1.0,20221231,NaN,20221231,25.0,250750.0,NaN,1.0,9.0,1.0,1.0,2.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,3.0,NaN,NaN,NaN,NaN,1.0,2.0,0,0,0,0,0,0,0,0,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20221231,20221231
284770,2,X29,20221231,202252,2022,25,250750,1377.0,20221230,202252,2019.0,4003,M,6.0,1.0,10.0,25.0,250750.0,1377.0,1.0,20221231,NaN,20221230,25.0,250750.0,NaN,1.0,9.0,1.0,1.0,2.0,2.0,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,1.0,1.0,0,0,0,0,0,0,0,3,0,2.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2.0,1.0,,20230101,20221231